@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
            overflow-y: none;
        }
        .show-scrollbar::-webkit-scrollbar {
            display: block;

            overflow-y: scroll;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .D {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
body * {
    @apply transition-colors ease-linear;
}
